BOT_TOKEN=your_bot_token_here
IMAGE_BASE_URL=https://www.avtotestu.uz/images
WEBAPP_URL=https://avtotestu.uz
PRO_CONTACT=@avtotestu_ad
DAILY_QUIZ_HOUR=9
DAILY_QUIZ_MINUTE=0
DAILY_QUESTIONS_COUNT=5
EXAM_QUESTIONS_COUNT=20
QUICK_QUIZ_COUNT=10
QUIZ_QUESTION_TIMEOUT=60
